body {
	padding-bottom: 40px;
	// background-image: url(../img/Sunshine.png);
	background-repeat: no-repeat;
	background-color: @backgroundColor;
	background-size: cover;
	background-attachment:fixed;
	background-position:right bottom;
	// color:#371801; 
}
ul {
	margin:0px;
	padding:0px;
}
.icon-heart {
	color:red;
}

.alizapai {
	.masthead {
		z-index: 1;
		width:@pageWidth;
		position: fixed;
		background-color: @mastheadBGColor;
		border-bottom:1px solid #f9c59f;
		.nav {
			margin-bottom:0px;
			margin-top:13px;
			display:inline-block;
			position: absolute;
			right:10px;
		}
	}
	
	h3.title {
		.transition();
		.opacity(0);
		width:200px;
		display: inline-block;
		margin-left:20px;
		&.fade {
			cursor:pointer;
			.transition(2.5);
			.opacity(1);
		}
		&:hover{
			color:#08c;
		}
	}
	#paiCarousel {
		top: 60px;
		.item{
			background-color: @caroselItemsBGColor;
			padding:20px;
			padding-left: 20px;
		}
	}

	.portfolioItem{
		border:2px solid #DDD;
		.rounded(10px);
		margin-bottom:15px;
		cursor:pointer;
	}

}

.container-narrow {
	margin: 0 auto;
	max-width: 700px;
	position:relative;
}
.container-narrow > hr {
	margin: 10px 0;
}

